*{
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
}
#navigation{
    display: inline;
}
#navigation a{
    text-decoration: none;
    color: black;
}
#container{
    padding-top: 3%;
    padding-left: 2%;
}
.nav-menu{
    margin: 20px;
    font-size: 20px;
}
.dropdown {
    display: inline;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  }
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  .dropdown:hover .dropdown-content {
    display: block;
    cursor: pointer;
    top: 125;
    left: 140;
  }  
  .dropdown-content a:hover{
      background-color: rgba(71, 67, 67, 0.274);
  }

.headerImg {
    box-shadow: rgb(255 250 217) 110px 0px 0px 12px;
}
.rounded-circle {
    border-radius: 50%!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img{
    display: inline-block;
    border-style: none;
}
#general{
    padding-top: 5%;
    padding-left: 10%;
    display: flex;
    flex-wrap: wrap;
}
#general-text h2{
    font-size: 50px;
    font-family: 'Open Sans', sans-serif;
    color: #1f1f33;
}
#col{
    padding-left: 16%;
}
#general-text p{
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    color: #1F1F33;
}
#general-text button{
    background: #1F1F33;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    color: #FCEECA;
    margin-top: 3%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}
#general-text button:hover{
    cursor: pointer;
    background: rgb(73, 73, 73);
}
#about-text h3{
    font-family: Museo Sans;
    font-size: 32px;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
#about{
    background: #FFFDED;
    padding-top: 3%;
}
#about-text p{
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: #333333;
    font-family: 'Montserrat', sans-serif;
}
#About-text button{
    margin-top: 3%;
    color: #6c757d;
    border-color: #6c757d;
    border-radius: 7px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #FFFDED;
}
#button{
    display: flex;
    justify-content: center;
    padding-bottom: 12%;
}
#About-text button:hover{
    color: #ffffff;
    background-color: #3e4144;
    border-color: #3e4144;
    cursor: pointer;
}
#lessons h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 56px;
    line-height: 70px;
    text-align: center;
    color: #333333;
}
.line{
    display: flex;
    justify-content: space-evenly;
}
.line-img a{
    text-decoration: none;
    
}
.line-img a p{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 24px;
    text-align: center;
    color: #4A4A4A;
}
.line-img{
    padding-top: 5%;
}
#sub-text h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 48px;
    line-height: 70px;
    text-align: center;
    color: #333333;
}
#sub-text p{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #333333;
    margin-top: -35px;
}
#subscriber{
    padding-top: 4%;
}

#subscribe form{
    display: inline;
}
#subscribe{
    display: flex;
    justify-content: space-around;
}
#subscribe form input{
    font-size: 1.2rem;
    font-family: 'Montserrat', sans-serif;
    border-radius: 4px 4px 0px 0px;
    border: 1px solid #ced4da;
    color: #495057;
}
#subscribe form button{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 1.2rem;
    background: #4A4A4A;
    border-radius: 10px;
    color: #FFDF01;
}
#subscribe form button:hover{
    color: #ffffff;
    background: #888787;
    cursor: pointer;
}
#footer-email p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #5E5E5E;
    text-align: center;
}
#footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 13%;
}
.fa {
    padding-top: 4px;
    font-size: 100px;
    text-align: center;
    text-decoration: none;
    padding-left: 20px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {
    background: #ffffff;
    color: #5E5E5E;
  }
  
.fa-twitter {
    background: #ffffff;
    color: #5E5E5E;
}
.fa-youtube {
    background: #ffffff;
    color: #5E5E5E;
}
  
.fa-instagram {
    background: #ffffff;
    color: #5E5E5E;
}
#footer-follow p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #5E5E5E;
    text-align: center;
}
#footer-apps p{
    font-family: 'Montserrat', sans-serif;
    font-size: 22px;
    color: #5E5E5E;
    text-align: center;
}
#footer-apps a{
    text-decoration: none;
}